.about {
  background: rgba(0, 0, 0, 0.9);
}
.aboutme {
  font-size: 14px;
  font-weight: 500;
  padding-block: 10px;

  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #c5c4c4;
  font-family: "Poppins", sans-serif;
}
.aboutme::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #4ceb95;
  margin: 4px 10px;
}
.des {
  font-weight: 1000;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
}
.head h2 {
  font-weight: 700;
  font-size: 26px;
  color: #18d26e;
}
.head p {
  color: #fff;
}
.icon-ri {
  color: #18d26e;
  padding-right: 10px;
}
.strong {
  color: #cfcece;
  padding-right: 5px;
}
.span {
  color: #c5c4c4;
}
.info {
  padding-block: 10px;
}
.box {
  background-color: rgba(44, 44, 44, 0.678);
  padding-top: 3%;
}
.box span {
  color: #c5c4c4;
  font-size: 3rem;
  font-weight: 600;
}
.box p {
  color: #cfcece;
}
.emogy{
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  color: #18d26e;
  border-radius: 50%;
}
